body, html {
    background-color: #f3f5f7;
}

a{
    text-decoration: none !important;
}

.gitbtn{
    padding-top: 20px;
    padding-right: 20px;
}

.title{
    font-size: 50px;
    text-align: center;
}

.instructions{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.typebox{
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #fff;
}

.startbtn{
    padding-top: 20px;
    text-align: center;
}

textarea {
   resize: none;
}

.timer{
    text-align: center;
    padding-top: 25px;
}

.timerTime{
    font-weight: bold;
}

.question{
    font-size: 15px;
    font-weight: bold;
    padding-top: 12px;
}

.answers, .mistakes{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.answers{
    max-width: 450px;
}

.mistakes{
    max-width: 600px;
}

#resultsContainer{
    padding-top: 35px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    display: none;
}

#mistakesContainer{
    text-align: center;
    padding-bottom: 8px;
    max-width: 600px;
    margin: 0 auto;
    display: none;
}

.results{
    font-size: 30px;
    padding-bottom: 15px;
}

.resultsWPM{
    font-weight: bold;
    color: #2481e1;
}

.mistakesTitle{
    font-weight: bold;
    text-align: center;
}

.bug{
    color: #d00000;
    font-weight: bold;
    text-align: right;
    position: fixed;
    bottom: 3px;
    right: 20px;
}

#storytext, #usertext{
    background-color:#fff;
}